@font-face {
  font-family: "Monterrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000;

  --text-primary-color: #222;
  --text-secondary-color: #fff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Montserrat";
  font-weight: var(--titles-weight);
  color: var(--primary-color);
}

body{
  font-family: "Monteserrat";
}