:root{
    --background-primary-color: #ffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000;

    --butoon-primary-color: #8f0101;
    --butoon-secondary-color: #B81515;

    --text-primary-color: #222;
    --text-secondary-color: #fff;

}

/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
